@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overflow-y: scroll;
  color-scheme: light;
}

html.dark {
  color-scheme: dark;
}

html,
body {
  @apply size-full;
}

body {
  @apply font-sans antialiased;
  @apply flex flex-col;
  @apply bg-stone-100 dark:bg-stone-900;
  @apply text-black/75 dark:text-white/75;
}

header {
  @apply fixed left-0 right-0 top-0 z-50 py-5;
  @apply bg-stone-100/75 dark:bg-stone-900/25;
  @apply saturate-200 backdrop-blur-sm;
}

main {
  @apply flex-1 py-32;
}

footer {
  @apply py-5 text-sm;
}

.animate {
  @apply translate-y-3 opacity-0;
  @apply transition-all duration-700 ease-out;
}

.animate.show {
  @apply translate-y-0 opacity-100;
}

html #back-to-top {
  @apply pointer-events-none opacity-0;
}

html.scrolled #back-to-top {
  @apply pointer-events-auto opacity-100;
}
