---
import { Info } from "lucide-astro";
import { type CollectionEntry } from "astro:content";
import { SquareArrowOutUpRight } from "lucide-astro";

interface Props {
  entry: CollectionEntry<"personality-tests">;
}

const { entry } = Astro.props;

const { data } = entry;
const { Content } = await entry.render();
---

<div class="space-y-2 text-black dark:text-white">
  <div class="flex justify-between">
    <p class="font-bold">{data.testName}</p>
    <a
      class="flex items-center rounded border border-black/15 px-1.5 py-1 text-xs leading-none dark:border-white/20"
      href={data.link}
      target="_blank"
      rel="nofollow"
    >
      Full Report
      <SquareArrowOutUpRight class="ml-1 h-2.5 w-2.5" />
    </a>
  </div>
  <article>
    <Content />
  </article>
  <div
    class="dark:border-block/20 flex gap-x-2 rounded-lg border border-black/15 p-2 text-xs opacity-75"
  >
    <Info class="h-4 w-4 shrink-0" />
    <p>{data.description}</p>
  </div>
</div>

<style>
  hr {
    @apply border-black/15 dark:border-white/20;
  }
</style>
