---
import { type CollectionEntry } from "astro:content";
import { SquareArrowOutUpRight } from "lucide-astro";

interface Props {
  entry: CollectionEntry<"personality-tests">;
}

const { entry } = Astro.props;

const { data } = entry;
const { Content } = await entry.render();
---

<div
  class="rounded rounded-lg border border-black/15 dark:border-white/20 text-black dark:text-white"
>
  <div class="p-4">
    <p class="font-bold">{data.testName}</p>
    <p class="text-xs opacity-75">{data.description}</p>
  </div>
  <hr />
  <div class="text-sm p-4">
    <Content />
  </div>
  <hr />
  <div class="flex justify-end p-4">
    <a
      class="leading-none flex items-center text-xs border border-black/15 dark:border-white/20 rounded px-1.5 py-1"
      href={data.link}
      target="_blank"
      rel="nofollow"
    >
      Full Report
      <SquareArrowOutUpRight class="h-2.5 w-2.5 ml-1" />
    </a>
  </div>
</div>

<style>
  hr {
    @apply border-black/15 dark:border-white/20;
  }
</style>
